<!-- Ojo -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper animated fadeIn fast">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="display-2">Importadora Amalia</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/components/inicio']">Inicio</a></li>
            <li class="breadcrumb-item active">Bienvenido</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <!-- Main content -->

  <section class="content" id="">

    <div class="jumbotron col-12 bg-light">
      <h1 class="display-4">Bienvenidos al Sistema de Ventas.</h1>
      <p class="lead">Sistema de compras y ventas de productos en la ciudad de Cochabamba, Bolivia.</p>

    </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
