<!-- Ojo -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper animated fadeIn fast bg-gradient-white">
  <!-- Content Header (Page header) -->
  <section class="content-header pb-0">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="display-4">Listado de Trabajadores Registrados</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/components/inicio']">Inicio</a></li>
            <li class="breadcrumb-item active">Personal</li>
            <li class="breadcrumb-item active">Tabla de Datos</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <hr>
  <!-- Seccion menu boton -->
  <section class="content padinIsquierda">
    <button class="btn btn-primary btn-sm" [routerLink]="['/components/personal']"><i class="fas fa-user-plus"></i>
      Agregar Personal</button>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="card-body pt-2">
      <div class="card card-danger">
        <div class="card-header">
          <h3 class="card-title">Tabla de Datos</h3>
        </div>
        <!-- Lista de datos -->
        <div class="card-table" id="">
          <div class="card-body table-responsive-lg" id="">
            <!-- Buscador dataTable -->
            <mat-form-field>
              <mat-label><span class="font-weight-lighter">Buscar</span>
              </mat-label>
              <input matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort class="col-12 ">

              <!-- IdPersonal -->
              <ng-container matColumnDef="id_personal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bolder"> Nro. </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.id_personal}} </td>
              </ng-container>

              <!-- Nombres -->
              <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bolder"> Nombres </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
              </ng-container>

              <!-- Paterno -->
              <ng-container matColumnDef="ap_paterno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bolder"> Ap. Paterno
                  </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.ap_paterno}} </td>
              </ng-container>

              <!-- Materno -->
              <ng-container matColumnDef="ap_materno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bolder"> Ap. Materno
                  </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.ap_materno}} </td>
              </ng-container>

              <!-- Carnet -->
              <ng-container matColumnDef="c_identidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bolder"> Carnet </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.c_identidad}} </td>
              </ng-container>

              <!-- Telefono -->
              <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bolder"> Telefono </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
              </ng-container>

              <!-- Email -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bolder"> Email </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Dirección -->
              <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bolder"> Dirección
                  </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef><span class="font-weight-bolder"> Acciones </span></th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-xl-flex" id="">

                    <button type="button" class="btn btn-block bg-gradient-success btn-xs btn-rounded" title="Editar"
                      data-toggle="modal" data-target="#orangeModalSubscription"
                      (click)="this.seleccionarPerfil(element.id_personal)"><span><i
                          class="fas fa-edit text-white"></i></span></button>
                    <button type="button" class="btn btn-block bg-gradient-danger btn-xs" title="Eliminar"
                      (click)="this.borrarPersonal(element.id_personal)"><span><i
                          class="fa fa-trash text-white"></i></span></button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator> -->
          </div>
        </div>
        <!-- fin lista de datos -->
        <!-- <hr> -->
        <div class="card-footer bg-white" id="">
          <!-- <p>Los campos con (<span class="text-red">*</span>) son obligatorios</p> -->
          <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>

  </section>
  <!-- Fin main content -->

</div>
<!-- /.content-wrapper -->

<!-- Inicio Modal -->
<div class="content">
  <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger modal-xl" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header text-center">
          <h4 class="modal-title white-text w-100 font-weight-lighter py-2">Modificar Datos</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <form #personalForm="ngForm">
            <div class="card-body">
              <div class="form-row">
                <!-- Nombres -->
                <div class="form-group col-xl-4 example-container">
                  <mat-form-field>
                    <mat-label><span class="font-weight-lighter">Nombres<span class="text-red">*</span> </span>
                    </mat-label>
                    <input matInput type="text" name="nombres" autocomplete="off" [(ngModel)]="this.personal.nombress">
                    <mat-hint>Mostrar error</mat-hint>
                  </mat-form-field>
                </div>
                <!-- Ap. Paterno -->
                <div class="form-group col-xl-4 example-container">
                  <mat-form-field>
                    <mat-label><span class="font-weight-lighter">Ap. Paterno<span class="text-red">*</span> </span>
                    </mat-label>
                    <input matInput type="text" name="paterno" autocomplete="off" [(ngModel)]="this.personal.paterno">
                    <mat-hint>Mostrar error</mat-hint>
                  </mat-form-field>
                </div>
                <!-- Ap. Materno -->
                <div class="form-group col-xl-4 example-container">
                  <mat-form-field>
                    <mat-label><span class="font-weight-lighter">Ap. Materno</span></mat-label>
                    <input matInput type="text" name="materno" autocomplete="off" [(ngModel)]="this.personal.materno">
                    <mat-hint>Mostrar error</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <!-- Carnet de identidad -->
              <div class="form-row" id="">
                <div class="form-group col-xl-4 example-container">
                  <mat-form-field>
                    <mat-label><span class="font-weight-lighter">Carnet de Identidad<span class="text-red">*</span>
                      </span></mat-label>
                    <input matInput type="number" name="carnet" autocomplete="off" [(ngModel)]="this.personal.carnet">
                    <mat-hint>Mostrar error</mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-row" id="">
                <div class="form-group col-xl-4 example-container">
                  <mat-form-field>
                    <mat-label><span class="font-weight-lighter">Telefono</span></mat-label>
                    <input matInput type="number" name="telefono" autocomplete="off"
                      [(ngModel)]="this.personal.telefono">
                    <mat-hint>Mostrar error</mat-hint>
                  </mat-form-field>
                </div>
                <div class="form-group col-xl-4 example-container">
                  <mat-form-field>
                    <mat-label><span class="font-weight-lighter">Email</span></mat-label>
                    <input matInput type="email" name="email" autocomplete="off" [(ngModel)]="this.personal.email">
                    <mat-hint>Mostrar error</mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group mb-4">
                <div class="form-group col-xl-12 example-container">
                  <mat-form-field>
                    <mat-label><span class="font-weight-lighter">Dirección<span class="text-red">*</span> </span>
                    </mat-label>
                    <input matInput type="text" name="direccion" autocomplete="off"
                      [(ngModel)]="this.personal.direccion">
                    <mat-hint>Mostrar error</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">CANCELAR</button>
              <button type="button" class="btn btn-pink" (click)="this.modificarPersonal()">GUARDAR</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <p>Los campos con (<span class="text-red">*</span>) son obligatorios</p>
        </div>
        <!--/.Content-->
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal -->
